body{
    background-color: #353434;
    color: white
}


   ul {
    list-style: none;
    color: white; 
    display: flex;
   }

   ul li{
    margin-left:35px;
   }

   /* mainsection */

   main{
    display: flex;
    margin-top: 5%
   }







   